* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  margin: 100px 100px;
  background: #fafafa;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  background: #F8F8F8;
  padding: 30px;
  box-shadow: 0px 0px 50px 0px rgba(34, 60, 80, 0.2);
  width: 600px;
  height: 100%;
  border-radius: 12px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffff;
  padding: 10px 15px;
  border-radius: 6px;
}
.add-task {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add {
  background: #026CFF;
  color: white;
}

.delete {
  background: #FFBFBF;
  color: #ff4646;
  transition: all .2s ease-in-out;
}

.delete:hover {
  background: #ff4646;
  color: white;
}

.control_button {
  display: flex;
  gap: 10px;
}


.active {
  background: #E9F2FF;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}